In [35]:
import wget
import pandas as pd
import zipfile
import glob

In [36]:
years = range(2007,2021)
types = ["Accidents","Drivers", "Pedestrians", "Occupants", "Vehicles"]

In [39]:
years = range(2001,2021)
accidents = []
cols = []
for y in years:
    try:
        data = pd.read_csv(f"data/{y}Accidents.csv")
        print(data.shape)
        for c in data.columns:
            if c not in cols:
                cols.append(c)
        accidents.append(data.loc[data['municipality_name'] == 'JERSEY CITY'])
    except:
        pass
accidents = pd.concat(accidents)

(312696, 48)
(319979, 48)
(324053, 48)
(323419, 48)
(315434, 48)

C:\Users\yagne\AppData\Local\Temp\ipykernel_11124\2961995729.py:6: DtypeWarning: Columns (7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f"data/{y}Accidents.csv")

(295546, 48)

C:\Users\yagne\AppData\Local\Temp\ipykernel_11124\2961995729.py:6: DtypeWarning: Columns (7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f"data/{y}Accidents.csv")

(306816, 48)
(19846, 48)
(19168, 48)
(19734, 48)

C:\Users\yagne\AppData\Local\Temp\ipykernel_11124\2961995729.py:6: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f"data/{y}Accidents.csv")
C:\Users\yagne\AppData\Local\Temp\ipykernel_11124\2961995729.py:6: DtypeWarning: Columns (23,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f"data/{y}Accidents.csv")
C:\Users\yagne\AppData\Local\Temp\ipykernel_11124\2961995729.py:6: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f"data/{y}Accidents.csv")

(19945, 48)
(19492, 48)
(19233, 48)
(19608, 48)
(19714, 48)
(21257, 48)
(19840, 51)
(20257, 51)
(20274, 51)
(13102, 51)

In [40]:
years = range(2001,2021)
pedestrians = []
cols = []
for y in years:
    data = pd.read_csv(f"data/{y}Pedestrians.csv")
    print(data.shape)
    for c in data.columns:
        if c not in cols:
            cols.append(c)
    pedestrians.append(data.loc[data['is_bycyclist'] == "Y"])
pedestrians = pd.concat(pedestrians)

(10186, 29)
(10015, 29)
(9754, 29)
(9894, 29)
(9472, 29)
(9235, 29)
(9150, 29)
(9671, 29)
(9529, 29)
(9287, 29)
(9013, 29)
(8705, 29)
(8358, 29)
(7782, 29)
(7296, 29)
(7334, 29)
(7299, 36)
(7140, 36)
(7946, 36)
(5458, 36)

In [41]:
accidents.describe()

,Unnamed: 0,crash_time,total_killed,total_injured,pedestrians_killed,pedestrians_injured,crash_type_code,total_vehicles_involved,route,mile_post,...,posted_speed,posted_speed_cross_street,latitude,longitude,police_dept_code,milepost,road_horizontal_alignment,road_grade,temporary_traffic_control_zone,first_harmful_event
count,158796.000000,156699.000000,158796.000000,158796.000000,158796.000000,158796.000000,158692.000000,158796.000000,76273.000000,57730.000000,...,156756.000000,81382.000000,12364.000000,12364.000000,30073.000000,24312.000000,29896.00000,29616.000000,29261.000000,25484.000000
mean,52862.401251,1337.228272,0.001102,0.279768,0.000435,0.040234,6.186260,1.978727,388.983100,16.531331,...,25.658712,25.815819,40.720497,74.075298,1.155222,11.978321,1.07971,4.057874,1.042651,27.134045
std,59961.213413,550.657292,0.034482,0.671455,0.021141,0.202847,12.949732,0.516695,265.825108,23.786560,...,9.705991,4.154093,0.085604,0.061781,1.876397,20.403140,0.40465,0.709569,0.293048,6.252694
min,2045.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,38.000010,73.078060,1.000000,-0.500000,0.00000,0.000000,0.000000,0.000000
25%,6342.000000,930.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,78.000000,0.440000,...,25.000000,25.000000,40.713220,74.055260,1.000000,0.240000,1.00000,4.000000,1.000000,26.000000
50%,9577.000000,1408.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,501.000000,1.460000,...,25.000000,25.000000,40.728000,74.068020,1.000000,0.720000,1.00000,4.000000,1.000000,26.000000
75%,129660.250000,1740.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2.000000,617.000000,30.360000,...,25.000000,25.000000,40.738200,74.088392,1.000000,25.622500,1.00000,4.000000,1.000000,26.000000
max,141055.000000,2359.000000,2.000000,19.000000,2.000000,9.000000,99.000000,20.000000,4406.000000,903.020000,...,95.000000,95.000000,41.562300,75.324500,99.000000,93.170000,3.00000,8.000000,5.000000,99.000000

In [67]:
bike_accidents = accidents.merge(pedestrians, on="id")
bike_accidents = bike_accidents[['id', 'county_name', 'municipality_name', 'crash_date','crash_location', 'cross_street_name',  'latitude', 'longitude']]
bike_accidents.columns = ['id', 'countyname', 'municipalityname', 'crashdate','crashlocation', 'crossstreetname',  'latitude', 'longitude']
bike_accidents['state'] = "NJ"
bike_accidents["longitude"] = -bike_accidents["longitude"]

In [68]:
bike_accidents.shape

(1586, 9)

In [69]:
bike_accidents.to_csv("prelim_data.csv",index=False)

In [70]:
bike_accidents.describe()

        latitude  longitude
count  86.000000  86.000000
mean   40.724027 -74.064365
std     0.014711   0.017678
min    40.690900 -74.099780
25%    40.715860 -74.078790
50%    40.722465 -74.060930
75%    40.731400 -74.051275
max    40.753110 -74.034880